*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
   width: 100%;
    height:100vh;
}
.chat-container{
    width: 100%;
    height: 80%;
    background-color: rgb(45,52,59)
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
}
.user-chat-box{
    width: 60%;
    position: relative;
    left:40%;
    
}
.ai-chat-box{
    width: 60%;
    position:relative;
    
}
.user-chat-area{
    width: 90%;
    padding: 30px;
    background-color: black;
    color:rgba(255, 255, 255, 0.639);
    border-radius:40px 0px 40px 40px;
    box-shadow: 2px 2px 10px black;

}
.ai-chat-area{
    width: 90%;
    padding: 20px;
    background-color:grey;
    position:relative;
    left:10%;
    color:rgba(255, 255, 255, 0.639);
    border-radius:0px 40px 40px 40px;
    box-shadow: 2px 2px 10px black;
}
#userImage{
    position: absolute;
    right:0;
}
#aiImage{
    position:absolute;
    left:0
}